
.action-area {
    width: fit-content;
    margin: 5rem auto;
}

.greeting {
    font-weight: bold;
    font-size: 1.5rem;
}
.greet-followup {
    margin-top: 0.5rem;
}
.db-actions {
    display: flex !important;
    justify-content: flex-end !important;
    margin-top: 1rem;
}
.db-action {
    background-color: #004BAF;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    min-width: 200px;
}
:where(.css-dev-only-do-not-override-1km3mtt).ant-btn-default:not(:disabled):hover {
    color: white !important;
    /* border-color: none !important; */
}

