.headings2 {
    display: flex;
    justify-content: left;
    margin-top: 150px;
    /* padding-left: 300px; */
    width: 50%;
    
}
.sub-heading2 {
    display: flex;
    font-weight: 700;
    font-size: 30px;
    line-height: 18px;
}
.sub-small {
    /* position: absolute; */
    padding-top: 50px;
    font-size: 20px;
    font-weight: 400;
    /* line-height: 10px; */
}
.button-div2 {
    display: flex !important;
    padding-top: 80px;
    /* padding-left: 330px; */
    justify-content: center !important;
}
.button2 {
    background-color: #004BAF;
    color: white;
    width: 150px;
    font-weight: 700;
    font-size: 15px;
    line-height: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 40px;
}
:where(.css-dev-only-do-not-override-1km3mtt).ant-btn-default:not(:disabled):hover {
    color: white !important;
    /* border-color: none !important; */
}