
.action-area {
    width: fit-content;
    margin: 5rem auto;
}

.greeting {
    font-weight: bold;
    font-size: 1.5rem;
}
.greet-followup {
    margin-top: 0.5rem;
}
.db-actions {
    display: flex !important;
    justify-content: flex-end !important;
    margin-top: 1rem;
}
.db-action {
    background-color: #004BAF;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    min-width: 200px;
}
:where(.css-dev-only-do-not-override-1km3mtt).ant-btn-default:not(:disabled):hover {
    color: white !important;
    /* border-color: none !important; */
}

.history {
    min-width: 500px;
}
.action-area-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.history-list-item {
    background: white;
    display: flex;
    align-items: center;
    padding: 0.8rem;
    filter: drop-shadow(1px 1px 1px gray);
    border-radius: 0.2rem;
    margin: 0.5rem 0rem;
}
.history-item-actions {
    margin-left: auto;
}
.history-item-action {
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
}
.history-item-action:hover {
    background: #d8d8d8;
}
.history-item-actions {
    display: flex;
    align-items: center;
}

/* .history-item-action { */
    /* background-color: #004BAF; */
    /* color: white; */
/* } */