 /* :where(.css-dev-only-do-not-override-1km3mtt).ant-modal .ant-modal-close-x {
    display: none;
    font-size: 16px;
    font-style: normal;
    line-height: 22px;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
} */

/* .anticon {
    display: none !important;
    
} */
:where(.css-dev-only-do-not-override-1km3mtt).ant-modal .ant-modal-content {
   
    border-radius: 5px !important;
}

:where(.css-dev-only-do-not-override-1km3mtt).ant-btn-default:not(:disabled):hover {
    color: black !important;
}

:where(.css-dev-only-do-not-override-1km3mtt).ant-modal .ant-modal-title {
    /* margin: 0;
    color: rgba(0, 0, 0, 0.88); */
    font-weight: 700 !important;
    font-size: 25px !important;
    /* line-height: 1.5;
    word-wrap: break-word; */
}
:where(.css-dev-only-do-not-override-1km3mtt).ant-modal .ant-modal-close-x {
    
    margin-top: 10px !important;
}