.nav{
    height: 70px;
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}
.nav_logo{
    padding-left: 40px;
}
.nav_right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
}
.nav_right:hover {
    background: #d8d8d8;
}
.sign_out{
    padding: 15px;
    font-size: 30px;
    cursor: pointer;
}
.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #d8d8d8;
    margin-left: 20px;
}
.logout-btn {
    cursor: pointer;
    position: absolute;
    border: 1px solid #d8d8d8;
    margin-top: -45px;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    right: 0px;
}
.actions {
    width: 100px;
    position: absolute;
    border: 1px solid black;
    border-radius: 0.1rem;
    right: 20px;
    background: white;
}
.action {
    padding: 0.5rem 0.5rem;
    cursor: pointer;
}
.action:hover {
    background-color: #d8d8d8;
}
