.landing_page {
  height: 100%;
  padding: 10px;
  max-width: 1440px;
  margin: auto;
}
.logo {
  width: 10em;
  padding-left: 50px;
}
.headings {
  padding: 0;
}
.landing-image {
  display: flex;
  justify-content: center;
}
.heading {
  margin-top: 0px;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
}
.button-div {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.google-button {
  margin-top: 0.5rem;
  max-width: 300px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  border-radius: 20px;
  color: black;
}
.google-logo {
  margin-top: 3px;
  padding-right: 5px;
}
.sub-heading {
  text-align: center;
}
.sub-company {
    color: #004aad;
}