.item_name{
    max-width: 200px;
    width: 20%;
    height: 40px;

}
.item_fields{
    max-width: 100px;
    width: 12%;
    height: 40px;
    margin-left: 10px;
}
.fields{
    display: flex;
    flex-direction: row;
}
.close_icon{
    font-size: 26px;
    font-weight: 600;
    margin-top: -2px;
    margin-left: 10px;
    color: dimgray;
}